pip
certifi
numpy
pandas
matplotlib
seaborn
pydeck
plotly
altair<5
yfinance
mplfinance
ta
datetime
wordcloud
adjusttext
folium
streamlit>1.49.0
streamlit_folium
prophet
wikipedia
google-generativeai
google-ai-generativelanguage
