pip
ta
certifi
numpy
pandas
matplotlib
seaborn
pydeck
pytest
plotly
altair<5
yfinance
mplfinance
datetime
wordcloud
adjusttext
folium
streamlit
streamlit_folium
prophet
wikipedia
google-generativeai
google-ai-generativelanguage
