pip
certifi
numpy
pandas
matplotlib
seaborn
pydeck
plotly
altair
yfinance
mplfinance
ta
datetime
wordcloud
folium
streamlit
streamlit_folium
prophet
wikipedia
google-generativeai
google-ai-generativelanguage
